<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>

			<class name="restAssuredUserAPIChaining.CreateUser" />
			<class name="restAssuredUserAPIChaining.GetUserByUserId" />
			<class name="restAssuredUserAPIChaining.GetUserByFirstName" />
			<class name="restAssuredUserAPIChaining.UpdateUser" />
			<class name="restAssuredUserAPIChaining.DeleteUserByUserId" />
			<class name="restAssuredUserAPIChaining.DeleteUserByFirstName" />

		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
